body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 60px; /* Added padding to the bottom */
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition-duration: 0.5s;
}


.header-text h1 {
    padding-top: 10px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}

section h2 {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section:hover  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.profile-img:hover{
    transform: scale(1.3);

}

.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    margin-top: 0;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
